<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Walter Fan</title>
</head>
<body>
<div layout:fragment="content">
    <div class="starter-template" ng-controller="blogController as vm">

        <div class="jumbotron">
            <div class="container" id="banner">
                <h2> 图难于其易，为大于其细 </h2>
                <p>Collect, Plan, Do, Check, Adjust</p>
                <p><a class="btn btn-default" href="/gtd" role="button">View details &raquo;</a></p>
            </div>
        </div>

    </div>
</div>
</body>
</html>