<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecruity4">
<head>
    <title>Potato workshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet"  href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="./css/default.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">


        <footer>
            <p>&copy; 2018 Walter Personal Studio </p>
        </footer>
</div>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/vue-router/3.0.1/dist/vue-router.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.js"></script>
<script src="./js/user.js"></script>

</body>
</html>