<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet prefetch' href='./css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='./css/bootstrap-theme.min.css'>
  <link rel='stylesheet prefetch' href='./css/note.css'>
</head>
<body>

<div class="container">
  <header class="page-header">
    <div class="branding">
      
      <h1>Potato 蕃茄土豆</h1>
      
    </div>
  </header>

    <main id="app">
        <router-view></router-view>
    </main>

    <template id="potato-list">
        <div>

            <div class="filters row">
                <div class="form-group col-sm-4">
                    <input v-model="searchKey" class="form-control" id="search-element"  placeholder="name, tags" requred/>
                </div>
                <div class="actions form-group col-sm-4">
                    <router-link class="btn btn-default" v-bind:to="{path: '/add-potato'}">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add
                    </router-link>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Estimation</th>
                    <th>Deadline</th>
                    <th class="col-sm-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="potato in potatoes">
                    <td>
                        <router-link v-bind:to="{path: '/potatoes/' + potato.id}">{{ potato.name }}</router-link>
                    </td>
                    <td>{{ potato.priority }}</td>
                    <td>
                        {{ potato.estimation }}
                    </td>
                    <td>
                        {{ potato.deadline }}
                    </td>
                    <td>
                        <router-link class="btn btn-warning btn-xs" v-bind:to="{path: '/potatoes/'+ potato.id +'/edit'}">Edit</router-link>
                        <router-link class="btn btn-danger btn-xs" v-bind:to="{path: '/potatoes/'+ potato.id +'/delete'}">Delete</router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </template>


    <template id="add-potato">
        <div>
            <h2>Add Potato</h2>
            <form v-on:submit="createPotato">
                <div class="form-group">
                    <label for="add-name">Name</label>
                    <input class="form-control" id="add-name" v-model="potato.name" placeholder="task name" required/>
                </div>
                <div class="form-group">
                    <label for="add-description">Description</label>
                    <textarea class="form-control" id="add-description" rows="3" v-model="potato.description"  placeholder="task description" ></textarea>
                </div>
                <div class="form-group">
                    <label for="add-tags">Tags</label>
                    <input type="text" class="form-control" id="add-tags" v-model="potato.tags"  placeholder="task tags divided by comma" />
                </div>
                 <div class="form-group">
                    <label for="add-priority">Priority</label>

                    <select class="form-control" id="add-priority" v-model="potato.priority" >
                        <option value="0">--Please choose an priority--</option>
                        <option value="1">Important & Urgent</option>
                        <option value="2">Important & Not Urgent</option>
                        <option value="3">Not Important & Urgent</option>
                        <option value="4">Not Important & Not Urgent</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="add-estimation">Estimation</label>
                    <input type="text" class="form-control" id="add-estimation" v-model="potato.estimation"  placeholder="task estimation" />
                </div>
                <div class="form-group">
                    <label for="add-deadline">Deadline</label>
                    <input type="text" class="form-control" id="add-deadline" v-model="potato.deadline"/>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
            </form>
        </div>
    </template>

    <template id="potato">
      <h2>Potato</h2>
    </template>

    <template id="edit-potato">
      <h2>Edit Potato</h2>
    </template>

    <template id="delete-potato">
      <h2>Delete Potato</h2>
    </template>

</form>

</div>




<script src="./js/vue.js"></script>
<script src="./js/vue-router.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/potato.js"></script>
<script type="text/javascript">
  

</script>
</body>
</html>
