<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Guest book</title>
 
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
 
    <style type="text/css">
        .guestbook form {
            font-size: 12px; 
            color: blue; 
            border: 1px solid #234;
            padding: 0.5em 2em;
            background-color: #def;
        }
        .leftmessages {
            font-size: 12px; 
            color: blue; 
            border: 1px solid #234;
            padding: 0.5em 1em;
        }
    </style>
    
</head>
 
<body>
 
    <div class="container">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Guest book</h3>
        </div>
 
        <div class="row guestbook">
        <div class="col-lg-10">
            <h1>Guest book</h1>
            <p>Please leave your message here:</p>
            <form action='/addmessage' method='post'>
      
                <div>
                    <div><label for="subject">Subject: </label></div>
                    <input type="text" id="subject" name='subject' size="32" maxlength="32"></textarea>
                </div>
                <div>
                    <div><label for="content">Content: </label></div>
                    <textarea name='content' id="content" rows="3" cols="100"></textarea>
                </div>
                <div>
                    <div><label for="author">Author: </label></div>
                    <input type"text" name='author' id="author" size="32"  maxlength="32"></textarea>
                </div>

                <div>
                    <input type='submit'></input>
                </div>
            </form>
        </div>
        </div>
        <br/>
        <div class="leftmessages">
            <h2>Left Messages</h2>

            {% for result in results %}
            <hr>

            <h3>{{ result['subject'] }}</h3>
            <textarea rows="2" cols="60" class="textbox">{{ result['content'] }}</textarea>

            {% endfor %}

        </div>
        <hr/>
        <p>&nbsp;</p>
        <footer class="footer">
            <p>&copy; Walter Fan's Personal Studio 2017</p>
        </footer>
 
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

$(function() {

    var currentdate = new Date(); 
    var subject = "journal on " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + "T"  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
    var defaultUser = "Walter";
    $("#subject").val(subject);
    $("#content").val(subject);
    $("#author").val(defaultUser);
});

</script>
</html>

